.Leaveheader{
    text-align: center;
    margin-top: 5%;
    color: #f44336;
}
.addLeaveAction{
    margin-left: 4%;
}
.leaveRecord{
    width: 85%;
    margin-left: 4%;
    margin-top: 2%;
}
.leave-card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.editAction{
    color: blue;
}
.deleteAction{
    color: red;
}